@import "./mixins-page.scss";

// تنسيق الوان الجزء العلوي والسلفي من الصفحة
$pageNavAndFooter :#D7E9B9;

// تنسيق الوان الخلفية للاقسام
$pageBackground-color : #FFFBAC;

// تنتسيق لون العنواين
$pageTitle-color : #FAAB78;

// تنسيق لون الزر 
$btn-color :#9f826d;
$btn-hover :#f8ddca;

// تنسيق الوان الكروت
$pageCard : #D7E9B9 ;


.egypt {
    .transport {
        @include head;
        background-color: $pageNavAndFooter;

        .a { 
            @include minLinks;
            color: $pageBackground-color;

            &:hover,
            &:active {
                background-color: $btn-hover;
            }
        }
        .span{
            @include spanInHeader();
            color: black;
         }

    }
    .accordion {
        .card {
            background-color: $pageBackground-color ;
        }
    }
    .info {
        @include info();
        background-color: $pageBackground-color ;


        .desc {
            @include desc();
        }
    }


    .gallery {
        background-color: $pageBackground-color;
        .close {
            font-size: 1.5rem;
          }
          
          .col-12 img {
            cursor: pointer;
            width: 100%;
          }
          
          .col-12 img:hover {
            opacity: 1;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          }

          .modal {
            top: 10% ;
          }
    }
    .contact {
        background-color: $pageNavAndFooter;
    
        .title {
            color: $btn-color;
            @include turkish-title
        }
    
        .title-of-iframe {
           @include title-of-iframe;
           color: $btn-color
        }
    
        iframe{
           @include iframe;
        }
    
        .contact-style {
            @include contact-style;
        }
    
        .cont {
          @include cont;
          color: $btn-color;
        }
    
        .social {
           @include social ;
    
            .a-social{
                @include a-social;
                color: $btn-color;
            }
            .a-social:hover{
                color: $btn-hover;
                background-color: $btn-color;
            }
        }
    }
}

