// تنسيق الوان الجزء العلوي والسلفي من الصفحة
$pageNavAndFooter :#6D8B74;

// تنسيق الوان الخلفية للاقسام
$pageBackground-color : #EFEAD8;

// تنتسيق لون العنواين
$pageTitle-color : #5F7161;

// تنسيق لون الزر 
$pageBtn-color :#5F7161;
$pageBtn-hover :#7b917d;

// تنسيق الوان الكروت
$pageCard : #D0C9C0 ;


@mixin head{
    width: 100%;
    background-color: $pageNavAndFooter;
    padding: 20px 20px ;
}

@mixin minLinks {
    color: $pageTitle-color;
    padding: 5px;
    border-radius: 3px;
    margin-right: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
}

@mixin minLinksHover{
    background-color: $btn-hover;
}

@mixin spanInHeader {
    margin-right: 20px;
    color: black;
}

@mixin card {
    background-color: $pageBackground-color ;
}

@mixin info {
    background-color: $pageBackground-color ;
        border-bottom: 1px solid $card;
}

@mixin desc {
    margin-bottom: 20px;
}

@mixin gallery{
    background-color: $pageBackground-color ;
        border-bottom: 1px solid $card;
}

@mixin buy {
    background-color: $pageBackground-color 
}

body {
    .transport {
        @include head;

        a { 
            @include minLinks;
        }
        a:hover,
        a:active {
            @include minLinksHover()
        }
        span{
            @include spanInHeader()
         }

    }
    .accordion {
        .card {
            @include card ;
        }
    }
    .info {
        @include info();

        .desc {
            @include desc();
        }
    }


    .gallery {
        @include gallery()
    }

    .buy {
        @include buy()
    }
}


